@{
    ViewBag.Title = "Home";
}

<script>
    $('#pageTitle').text('Re:MSSSUG Home');
    $('#pageSubtitle').remove();
</script>

<div class="row" id="thumbnailArea">
    
</div>

<script src="~/js/rm-home.js"></script>