@{
    ViewBag.Title = "Cwiki Course List";
}

<div class="row">
    <h2>Course List</h2>
    <h5>Re:MSSSUG Cwiki</h5>
    <hr />
</div>

<div class="row">
    <p id="msg" class="col-md-12 alert alert-info">Loading data...</p>
    <p id="errmsg" class="col-md-12 alert alert-danger" style="display: none;"></p>
</div>

<div id="dataArea">

</div>

<script src="~/js/cwiki-courselist.js"></script>