@{
    ViewBag.Title = "Cwiki Course List";
}

<script>
    $('#pageTitle').text('Cwiki Course List');
    $('#pageSubtitle').text('Re:MSSSUG Cwiki');
</script>

<div id="dataArea">

</div>

<script src="~/js/cwiki-courselist.js"></script>