@{
    ViewBag.Title = "My Cwiki";
}

<script>
    $('#pageTitle').text('My Cwiki');
    $('#pageSubtitle').text('Re:MSSSUG Cwiki');
</script>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Write", "Cwiki")" class="btn btn-success">Compose Cwiki</a>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped" id="dataTable">
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</div>

<script src="~/js/cwiki-personal.js"></script>
