<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/rmweb.css">
    <title>@ViewBag.Title - Re:MSSSUG Home</title>
</head>
<body>
<script src="~/js/global.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Re:MSSSUG</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Cwiki")">Cwiki</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="pageTitle"></h2>
            <h5 id="pageSubtitle"></h5>
            <hr />
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-12">
            <p id="msg" class="alert alert-info">Loading data...</p>
            <p id="errmsg" class="alert alert-danger" style="display: none;"></p>
        </div>
    </div>

    @RenderBody()
</div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <p class="col-md-12" style="margin-top: 20px;">Re:MSSSUG - An unofficial implementation of the MSSSUG website. &copy; logchan, 2016</p>
            </div>
        </div>
    </footer>

</body>
</html>