@{
    ViewBag.Title = "Admin Portal";
}

<script>
    $('#pageTitle').text('Admin Portal');
    $('#pageSubtitle').text('Re:MSSSUG Admin');
    hideMsg();
</script>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("pages", "Admin")" class="btn btn-default">Manage Pages</a>
    </div>
</div>

<script>
    checkLogin();
</script>
