<script>
    var path = '@ViewBag.Path';
    if (path === '')
        window.location = '/';
</script>

<div id="pageArea">
    
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Comment</h4>
        <div id="commentArea" class="comment-container">

        </div>
    </div>
</div>

<script src="~/js/showdown.min.js"></script>
<script src="~/js/xss.min.js"></script>
<script src="~/js/showdown-xss-filter.js"></script>
<script src="~/js/showdown-helper.js"></script>
<script src="~/js/rm-comment.js"></script>
<script src="~/js/rm-page.js"></script>